@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-primary: #ffffff;
  --theme-text: #000000;
}

[data-theme='dark'] {
  --theme-primary: #000000;
  --theme-text: #ffffff;
}

@layer base {
  body {
    @apply min-h-screen;
    background-color: var(--theme-primary);
    color: var(--theme-text);
  }
} 